*{
   background-color: brown;
   margin:0%;
   padding:0%;
}
.heading {
    font-family: sans-serif;
    background-color: mediumseagreen;
    padding: 20px;
    border: 2px solid;
    margin: auto;
  }
  input {
    background-color: aqua;
    padding: 5px;
    border: 1px solid;
    margin: auto;
  }
.color{ 
    color:aqua;
}
.font{ 
    font-size:25px;
}
